<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      nav {
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
      .navigation {
        list-style-type: none;
      }
      .navigation li {
        float: left;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <%- include('../partials/header.ejs') %>
      <main class="main"><%- body %></main>
    </div>
    <footer></footer>
  </body>
</html>
