<form action="/contact" method="POST">
    <input type="text" placeholder="your name..." name="name">
    <input type="email" placeholder="your email..." name="email">
    <input type="phone" placeholder="your phone..." name="phone">
    <input type="submit" value="send">
</form>