<div>
  <% for( let index = 0; index < posts.length; index++ ) { %>
  <h2><%= posts[index].title %></h2>
  <p><%= posts[index].body %></p>
  <img src="<%= posts[index].image %>" alt="" />
  <% } %>
</div>
